@model Projet.Models.TechnicalIntervention

@{
    ViewData["Title"] = "Supprimer une intervention technique";
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    Êtes-vous sûr de vouloir supprimer cette intervention ?
</div>
<div>
    <h4>TechnicalIntervention</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterventionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterventionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWarranty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWarranty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaborCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaborCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Claim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Claim.ClaimId)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="TechnicalInterventionId" />
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a asp-action="Index" class="btn btn-secondary">Annuler</a>
    </form>
</div>
