@model IEnumerable<Projet.Models.TechnicalIntervention>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InterventionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWarranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Claim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InterventionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWarranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Claim.ClaimId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TechnicalInterventionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TechnicalInterventionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TechnicalInterventionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
