@model IEnumerable<Projet.Models.Claims>

@{
    ViewData["Title"] = "Index";
}

<h2>Mes Réclamations</h2>

<div class="mb-3">
    <a asp-action="Create" class="btn btn-primary">Ajouter une Réclamation</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Category)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ClaimId" class="btn btn-warning btn-sm">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClaimId" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
